﻿<!DOCTYPE html>
<html ng-app="app">
<head>
<title>Frontend Applicant Test</title>
    <script data-require="angular.js@1.0.x" src="http://code.angularjs.org/1.0.7/angular.min.js" data-semver="1.0.7"></script>
    <script src="dist/jsonload.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="dist/style.css">

</head>
<body>
	<div ng-controller="jsonCtrl" class="container">
		<h1>Frontend Applicant Test</h1>
		<div>
			<div class="col-md-6 float-left">
				<div class="channelLabel">Total Channel Count: {{ totalChannels }} </div>
				<div class="deviceLabel">Total Device Count: &nbsp;{{ totalDevices }} </div>
			</div>
			<div class="col-md-6 float-left">
				<select id="countryFilter" name="show-filter" ng-model="countryFilter.name">
					<option ng-repeat="country in countries">{{ country.name }}<option>
				</select>
			</div>
		</div>
		
		<div class="bars" >
			<div class="container" ng-repeat="country in countries | filter:countryFilter">
				<div class="col-md-3 align-left float-left">{{ country.name }}</div>
				<div style="width:{{ getWidth(country.channels) }}px;" class="channel float-left">{{ country.channels }}</div>
				<div style="width:{{ getWidth(country.devices) }}px;" class="device float-left">{{ country.devices }}</div>
			</div>
		</div>

    </div>	
</body>
</html>